.header-index{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    background-size: cover;
    background-image: url('../assets/pub.png');
}

.information-index{
    width: 40vw;
    padding: 30px;
    color: white;
}

.information-index article .title h2{
    font-size: 50px;
}

.information-index article .title h3{
    font-size: 50px;
}

.btn{
    background-color: #DC0B46;
    border: none;
    border-radius: 2px;
    padding: 13px 40px;
    font-size: 20px;
    color: white;
    margin: 5px;   
}

.campeonatos{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background-image: url('../assets/bg-campeonatos.png');
}

.academy{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-size: cover;
    background-image: url('../assets/bg-aca.png'); 
}

.text-right{ text-align: right;}
.text-left{ text-align: left;}

.transmissoes{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
    background-size: cover;
    background-image: url('../assets/stream.png');
}

.premiun{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    background-image: url('../assets/bg.png');
    color: white;
    padding: 20px;
}

.premiun .premiun-info{
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.premiun .premiun-info .content h1{
    font-size: 30px;
    margin-bottom: 9px;
}

.premiun .premiun-info .content p{
    font-size: 18px;
    margin-bottom: 10px;
}

.premiun .premiun-info .content ul{
    list-style: none;
    margin-left: 30px;
}

.premiun .premiun-info .content ul li::before{
    content: "\2022";
    color: #DC0B46;
    font-weight: bold; 
    display: inline-block; 
    width: 1em; 
    margin-left: -1em; 
}
