nav{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav ul li {
    margin-right: 9px;
}